{% extends '::base_admin.html.twig' %}
{% block title %}
    {{ "site.name" | trans([], 'main')}}
    {% if employee %}
        || {{ "employee.title" | trans({
            '%employee%': employee.lastname ~ ' ' ~ employee.firstname | upper | first ~ '.' ~ employee.middlename | upper | first ~ '.'
        }, 'admin')}}
    {% endif %}
{% endblock %}

{% block pagetitle %}
    {% if employee %}
        {{ "employee.pagetitle" | trans({
        '%position%': employee.position,
        '%employee%': employee.lastname ~ ' ' ~ employee.firstname | upper | first ~ '.' ~ employee.middlename | upper | first ~ '.'
    }, 'admin')}}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <div class="card">

        {% if employee %}
            <h3 class="card-pagetitle">
                {% if employee %}
                    {{ "employee.form.title" | trans({
                        '%employee%': employee.lastname ~ ' ' ~ employee.firstname ~ ' ' ~ employee.middlename
                    }, 'admin')}}
                {% endif %}
            </h3>

            <div class="card-body">
                {{ include('flash-messages.html.twig') }}

                {{ form_start(form, {'name': 'employee_editor', 'method': 'post', 'attr': { 'autocomplete': 'off' } }) }}

                {{ form_row(form.lastname, {
                    'label': 'employee.form.lastname.label',
                    'value': employee.lastname,
                    'attr': {
                        'placeholder': 'employee.form.lastname.placeholder',
                    }})
                }}

                {{ form_row(form.firstname, {
                    'label': 'employee.form.firstname.label',
                    'value': employee.firstname,
                    'attr': {
                        'placeholder': 'employee.form.firstname.placeholder',
                    }})
                }}

                {{ form_row(form.middlename, {
                    'label': 'employee.form.middlename.label',
                    'value': employee.middlename,
                    'attr': {
                        'placeholder': 'employee.form.middlename.placeholder',
                    }})
                }}

                {{ form_row(form.position, {'label': 'employee.form.position.label'}) }}

                {{ form_row(form.rank, {'label': 'employee.form.rank.label'}) }}

                {{ form_row(form.shift, {'label': 'employee.form.shift.label'}) }}

                {{ form_row(form.id) }}

                {{ form_end(form) }}

                <div class="card-footer">
                    <a href="{{ path('admin_user_delete', {'user': employee.id}) }}" class="btn btn-sm btn-danger">DELETE</a>
                </div>
            </div>


        {% else %}
            <div class="caveat alert-warning">
                <p>Пользователь с данным id не найден.</p>
                <p>Посмотреть список всех пользователей можно на этой
                    <a href="{{ path('admin_users_page') }}">странице</a></p>
            </div>
        {% endif %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}
