{% extends '::base_admin.html.twig' %}
{% block title %}Content manager page || Users{% endblock %}

{% block content %}
    <div class="col-md-6">
        <div class="card">
            <h3 class="card-pagetitle">New administrator account</h3>
            <div class="card-body">
                {{ include('flash-messages.html.twig') }}

                {{ form_start(form, {'name': 'new_user', 'method': 'post', 'attr': { 'autocomplete': 'off' } }) }}

                {{ form_row(form.username) }}
                {{ form_row(form.password) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}

{% endblock %}
