{% extends 'base_admin.html.twig' %}
{% block title %}List of shifts{% endblock %}

{% block pagetitle %}{{ 'employees.pagetitle' | trans({}, 'admin') }}{% endblock %}

{% block content %}
    {% if forms %}
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-pagetitle">{{ 'employees.table.title' | trans({}, 'admin') }}</h3>
                {{ include('flash-messages.html.twig') }}
                <div class="card-body">
                    {% for form in forms %}
                        {{ form_start(form) }}
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    {{ form_row(form.name) }}
                                </td>
                                <td>
                                    {{ form_row(form.submit, {
                                        'label': ' ',
                                        'attr': {
                                            'class': 'fa fa-lg fa-edit btn-success'
                                        },
                                    }) }}
                                </td>
                                <td>
                                    <a class="schema_delete btn btn-danger"
                                            href="{{ path('schema_delete', {'schema': form.vars.value.id}) }}">
                                        <span class="fa fa-lg fa-remove"></span>
                                    </a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                        {{ form_end(form) }}
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <a href="{{ path('admin_employee_new') }}" class="user__actions btn btn-block btn-lg btn-success">
                        <span class="fa fa-lg fa-newuser"></span>
                        {{ 'employee.button.add' | trans({}, 'admin') }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="col-md-4">
        <div class="card">
            <h3 class="card-pagetitle">{{ "new_user.form.title" | trans({}, 'admin')}}</h3>
            <div class="card-body">
                {{ include('flash-messages.html.twig') }}

                {{ form_start(create_form, {'name': 'new_schema', 'method': 'post', 'attr': { 'autocomplete': 'off' } }) }}

                {{ form_row(create_form.name, {
                    'label': 'user.form.username.label',
                    'attr': {'placeholder': 'user.form.username.placeholder'}
                }) }}

                {{ form_row(create_form.submit, {
                    'label': 'user.button.submit',
                    'attr': {'class': 'btn btn-primary btn-success'}
                }) }}

                {{ form_end(create_form) }}
            </div>
        </div>
    </div>
{% endblock %}
