{% extends '::base_admin.html.twig' %}
{% block title %}Content manager page || Administrators{% endblock %}

{% block pagetitle %}Administrators{% endblock %}

{% block content %}
    <div class="col-md-6">
        <div class="card">
            {% if user %}
                <h3 class="card-title">Administrator /// {{ user.username|default('No such user')}}</h3>
                <div class="card-body">
                    {{ include('flash-messages.html.twig') }}

                    {{ form_start(form, {'name': 'user_editor', 'method': 'post','attr': { 'autocomplete': 'off' } }) }}

                    {{ form_errors(form.username) }}
                    {{ form_errors(form.password) }}

                    {{ form_row(form.username, { 'value': user.username }) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.user_id, { 'value': user.id }) }}

                    {{ form_end(form) }}

                    <div class="card-footer">
                        <a href="{{ path('admin_user_delete', {'user': user.id}) }}" class="user__action btn btn-block btn-lg btn-danger">
                            DELETE
                        </a>
                    </div>
                </div>


            {% else %}
                <div class="card-body">
                    <p>Пользователь с данным id не найден.</p>
                    <p>Посмотреть список всех пользователей можно на этой
                        <a href="{{ path('admin_users_page') }}">странице</a></p>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}

{% endblock %}
