{% extends '::base_admin.html.twig' %}
{% block title %}Content manager page || Users{% endblock %}

{% block content %}

    {% if user %}
        <h2 class="content_title">Change account data</h2>
        <div class="user">
            {{ include('flash-messages.html.twig') }}

            {{ form_start(form, {'name': 'user_editor', 'method': 'post', 'attr': { 'autocomplete': 'off' } }) }}

            {{ form_errors(form.username) }}
            {{ form_errors(form.password) }}

            {{ form_row(form.username, { 'value': user.username }) }}
            {{ form_row(form.password) }}
            {{ form_row(form.user_id, { 'value': user.id }) }}

            {{ form_end(form) }}

            <div class="user_del">
                <a href="{{ path('admin_user_delete', {'user': user.id}) }}" class="user__action btn btn-block btn-lg btn-danger"><span class="glyphicon glyphicon-remove"></span> DELETE</a>
            </div>
        </div>


    {% else %}
        <div class="caveat alert-warning">
            <p>Пользователь с данным id не найден.</p>
            <p>Посмотреть список всех пользователей можно на этой
                <a href="{{ path('admin_users_page') }}">странице</a></p>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}

{% endblock %}
