{% extends '::base_admin.html.twig' %}
{% block title %}{{ "site.name" | trans([], 'main')}} || {{ "users.title" | trans([], 'admin')}}{% endblock %}

{% block pagetitle %}{{ "users.pagetitle" | trans([], 'admin')}}{% endblock %}

{% block content %}
    <div class="col-md-6">
        <div class="card">
            {{ include('flash-messages.html.twig') }}
            <h3 class="card-title">{{ "users.table.title" | trans([], 'admin')}}</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ "users.table.username" | trans([], 'admin')}}</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ user.username }}</td>
                        <td>
                            <a href="{{ path('admin_user', {'user': user.id}) }}" class="">
                                <span class="fa fa-lg fa-edit"></span>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('admin_user_delete', {'user': user.id}) }}" class="">
                                <span class="fa fa-lg fa-remove"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="user_add">
                <a href="{{ path('admin_user_add') }}" class="user__actions btn btn-block btn-lg btn-success"><span class="glyphicon glyphicon-plus"></span> {{ "user.button.add" | trans([], 'admin')}}</a>
            </div>
        </div>
    </div>


{% endblock %}
