{% extends '::base_admin.html.twig' %}
{% block title %}
    {{ "site.name" | trans([], 'main')}}
    {% if user %}
        || {{ "user.title" | trans({'%username%': user.username}, 'admin')}}
    {% endif %}
{% endblock %}

{% block pagetitle %}{{ "users.pagetitle" | trans({}, 'admin')}}{% endblock %}

{% block content %}
    <div class="col-md-6">
        <div class="card">
            {% if user %}
                <h3 class="card-title">{{ "user.form.title" | trans({'%username%': user.username}, 'admin')}}</h3>
                <div class="card-body">
                    {{ include('flash-messages.html.twig') }}

                    {{ form_start(form, {'name': 'user_editor', 'method': 'post','attr': { 'autocomplete': 'off' } }) }}

                    {{ form_row(form.username, {
                        'label': 'user.form.username.label' | trans({}, 'admin'),
                        'value': user.username,
                        'attr': {
                            'placeholder': 'user.form.username.placeholder' | trans({}, 'admin'),
                        }}
                    ) }}

                    {{ form_row(form.password.password, {
                        'label': 'user.form.password.label' | trans({}, 'admin'),
                        'attr': {
                            'placeholder': 'user.form.password.placeholder' | trans({}, 'admin'),
                        }
                    }) }}

                    {{ form_row(form.password.confirm_password, {
                        'label': 'user.form.conf_password.label' | trans({}, 'admin'),
                        'attr': {
                            'placeholder': 'user.form.conf_password.placeholder' | trans({}, 'admin'),
                        }
                    }) }}

                    {{ form_row(form.user_id, { 'value': user.id }) }}

                    {{ form_row(form.submit, {
                        'label': 'user.button.submit' | trans({}, 'admin'),
                    }) }}

                    {{ form_row(form.cancel, {
                        'label': 'user.button.cancel' | trans({}, 'admin'),
                    }) }}

                    {{ form_end(form) }}

                    <div class="card-footer">
                        <a href="{{ path('admin_user_delete', {'user': user.id}) }}" class="user__action btn btn-block btn-lg btn-danger">
                            {{ "user.button.delete" | trans({}, 'admin')}}
                        </a>
                    </div>
                </div>


            {% else %}
                <div class="card-body">
                    <p>
                        {{ 'user.not_found.text' | trans({}, 'admin') }}
                        <a href="{{ path('admin_users_page') }}">{{ 'user.not_found.link' | trans({}, 'admin') }}</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}

{% endblock %}
