<ul class="sidebar-menu">
    <li {% if app.request.get('_route') == 'admin_page' %} class="active" {% endif %}>
        <a href="{{ path('admin_page') }}">
            <i class="fa fa-dashboard"></i>
            <span>{{ "nav.dashboard" | trans([], 'admin')}}</span>
        </a>
    </li>
    <li {% if app.request.get('_route') == 'admin_users_page' %} class="active" {% endif %}>
        <a href="{{ path('admin_users_page') }}">
            <i class="fa fa-users"></i>
            <span>{{ "nav.users" | trans([], 'admin') }}</span>
        </a>
    </li>
    <li {% if app.request.get('_route') == 'admin_employees_page' %} class="active" {% endif %}>
        <a href="{{ path('admin_employees_page') }}">
            <i class="fa fa-users"></i>
            <span>{{ "nav.employees" | trans([], 'admin') }}</span>
        </a>
    </li>
    <li {% if app.request.get('_route') == 'admin_page' %} class="active" {% endif %}>
        <a href="/">
            <i class="fa fa-database"></i>
            <span>{{ "nav.waterponds"  | trans([], 'admin') }}</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-table"></i>
            <span>{{ "nav.graphs"  | trans([], 'admin')}}</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{{ path('schemas') }}">
                    <i class="fa fa-circle-o"></i>
                    {{ "nav.graph.schemas"  | trans([], 'admin')}}
                </a>
            </li>
            <li>
                <a href="{{ path('graph') }}">
                    <i class="fa fa-circle-o"></i>
                    {{ "nav.graph.view"  | trans([], 'admin')}}
                </a>
            </li>
        </ul>
    </li>
</ul>